<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cdjysdkj.diary"
    android:versionCode="10"
    android:versionName="1.2.6.20">

    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 分享权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:vmSafeMode="true">

        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <!-- 请开发者注意字母的大小写，ADActivity，而不是AdActivity -->
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".PasswordActivity"
            android:label="@string/title_activity_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TextDiaryActivity"
            android:label="@string/title_activity_text_diary"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WriteDiaryActivity"
            android:label="@string/title_activity_write_diary"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ImageDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MomentActivity"
            android:label="@string/title_activity_moment"
            android:launchMode="standard"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".EditImageActivity"
            android:label="@string/title_activity_edit_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BillActivity"
            android:label="@string/title_activity_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TabBillActivity"
            android:label="@string/title_activity_tab_bill"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddBillActivity"
            android:label="@string/title_activity_add_bill"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TransferActivity"
            android:label="@string/title_activity_transfer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NotesListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NoteEditActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name=".bean.NotesProvider"
            android:authorities="cdjysdkj_notes"
            android:multiprocess="true" />

        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdviceActivity"
            android:label="@string/title_activity_advice"
            android:screenOrientation="portrait" />
        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent1105087090" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- 微信分享回调 -->
        <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".CenterActivity"
            android:label="@string/title_activity_center"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MobileNoActivity"
            android:label="@string/title_activity_mobile_no"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IDCARDActivity"
            android:label="@string/title_activity_idcard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IPActivity"
            android:label="@string/title_activity_ip"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PostCodeActivity"
            android:label="@string/title_activity_post_code"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConstellationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResetPaswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BackupCopyActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>